/* Require Tailwind Preflight Components */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add Staatliches Local Font */

@font-face {
    font-family: Staatliches;
    src: url('../assets/fonts/Staatliches-Regular.ttf');
}

/* Add OpenSansLight Local Font */

@font-face {
    font-family: OpenSansLight;
    src: url('../assets/fonts/OpenSansCondensed-Light.ttf');
}

/* Add OpenSansBold Local Font */

@font-face {
    font-family: OpenSansBold;
    src: url('../assets/fonts/OpenSansCondensed-Bold.ttf');
}

/* Global Reset */

* {
    margin: 0;
    padding: 0;
}

/* Set Body Style */

body{
    color:white;
    font-family: OpenSansLight;
}

/* Set Heading Fonts */

h1,h2{
    font-family: Staatliches;
}

h3,h4,h5{
    font-family: OpenSansBold;
}

p{
    font-family: OpenSansLight;
}

/* Add Menu Style */

.menu-link-selected-icon{
    @apply filter drop-shadow-md;
}

.menu-link-selected-text{
    @apply text-red-600;
}